<div class="container-fluid thick-rule bg-primary-dark"></div>
<div class="jumbotron jumbotron-fluid shadow">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5 col-xs-12">
        <img class="padded" src="{{ site.baseurl }}{{ site.imgdir }}/gpn-full-yellow-dark.svg">
      </div>
      <div class="col-xl-auto col-lg-8 col-md-8 col-sm-7 col-xs-12 header">
        <h1>{{ site.title }}</h1>
        <h3><small class="blink-caret">{{ site.description }}</small></h3>
      </div>
    </div>
  </div>
</div>
