<nav class="navbar navbar-expand-sm padded navbar-dark bg-secondary shadow navbar-border">
  <button class="navbar-toggler no-border" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse flex-column" id="navigation">
    <div class="navbar-nav nav-justified w-100 align-items-start">
{% for menu-item in site.menu-items %}
{% if page.url == menu-item.url or page.layout == menu-item.layout %}
  {% assign current-menu-item = 'active current-menu-item' %}
{% else %}
  {% assign current-menu-item = '' %}
{% endif %}
      <a class="nav-item nav-link menu-item {{ current-menu-item }}" href="{{ site.baseurl }}{{ menu-item.url }}">{{ menu-item.text }}</a>
{% endfor %}
    </div>
  </div>
</nav>
