---
layout: default
---
<div id="faq" role="tablist">
{% for category in page.categories %}
  <div class="bottom-padded">
    <h3>{{ category.name }}</h3>
    {% for question in category.questions %}
    <div class="card shadow">
      <div class="card-header" role="tab" id="heading{{ category.name | slugify }}{{ forloop.index }}">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" href="#collapse{{ category.name | slugify }}{{ forloop.index }}" aria-expanded="false" aria-controls="collapse{{ category.name | slugify }}{{ forloop.index }}">
            {{ question.question }}
          </a>
        </h5>
      </div>
      <div id="collapse{{ category.name | slugify }}{{ forloop.index }}" class="collapse" role="tabpanel" aria-labelledby="heading{{ category.name | slugify }}{{ forloop.index }}" data-parent="#faq">
        <div class="card-body">
          {{ question.answer }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endfor %}
</div>
